.containter{
    width:100%;
}
.login-form{
    margin: auto;
    position: absolute;
    top: 25%; left: 0; bottom: 0; right: 0;
}
.btn-login{
    width:60%!important;
    margin: auto;
    left: 0; right:0;
    margin-left:20%;
    margin-top: 10px;
}

.main-container{
    width:1200px;
    margin: auto;
    left: 0; right:0;
    padding-top: 30px;
}

.label-input{
    margin-top: 8%;
}

.fa{
    color: #000;
}
