.horizontal-collapse {
  height: 70px;
}
.navbar-collapse.in {
  overflow-y: hidden;
}
.nav-items{
  margin-left:150px;
}
.custom-navbar{
  padding-left: 30px;
}

.nav-logo{
  height: 200%;
  margin-top: -5%;
  margin-left: -10%;
}